<div class="container-fluid bg-1 text-center">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div style="font-size:42px;font-weight:400;line-height:46.2px;color:white;"><a style="font-size:42px;font-weight:400;line-height:46.2px;color:white;" class="navbar-brand" href="#"><%= link_to "fathom", root_path %></a></div>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "TRENDS", trends_path %></li>
          <li><%= link_to "ABOUT", about_path %></li>
        </ul>
      </div>
    </div>
  </nav>

<h3><%= t('analyzed_title') %><%= params[:q] %></h3>
<h3><%= t('analyzed_results') %></h3><br>
  <%results = RequestsController.call_twitter(params[:q]) %>
  <table class="table">
    <tr>
      <th class="headers"><%= t('analyzed_trait') %></th>
      <th class="headers"><%= t('analyzed_score') %></th>
    </tr>
    <% results.each do |trait_array| %>
    <tr>
      <td><%= trait_array[0] %></td>
      <td><%= (trait_array[1]*100).round %></td>
    </tr>
    <% end %>
  </table>
  <p><%= t('score_scale') %></p>
</div>
