<div class="container-fluid bg-1 text-center">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div style="font-size:42px;font-weight:400;line-height:46.2px;color:white;"><a style="font-size:42px;font-weight:400;line-height:46.2px;color:white;" class="navbar-brand" href="#"><%= link_to "fathom", root_path %></a></div>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><%= link_to "TRENDS", trends_path %></li>
          <li><%= link_to "ABOUT", about_path %></li>
        </ul>
      </div>
    </div>
  </nav>
<br>
<h3><%= t('trend_title') %><%= @selected_state %></h3>
<br>

<table class="table">
  <tr>
    <th><%= t('analyzed_trait') %></th>
    <th><%= t('analyzed_score') %></th>
  </tr>
  <tr>
    <td><%= t('anger') %></td>
    <td><%= @average_anger %></td>
  </tr>
  <tr>
    <td><%= t('disgust') %></td>
    <td><%= @average_disgust %></td>
  </tr>
  <tr>
    <td><%= t('fear') %></td>
    <td><%= @average_fear %></td>
  </tr>
  <tr>
    <td><%= t('joy') %></td>
    <td><%= @average_joy %></td>
  </tr>
  <tr>
    <td><%= t('sadness') %></td>
    <td><%= @average_sadness %></td>
  </tr>
  <tr>
    <td><%= t('analytical') %></td>
    <td><%= @average_analytical %></td>
  </tr>
  <tr>
    <td><%= t('confident') %></td>
    <td><%= @average_confident %></td>
  </tr>
  <tr>
    <td><%= t('tentative') %></td>
    <td><%= @average_tentative %></td>
  </tr>
  <tr>
    <td><%= t('openness') %></td>
    <td><%= @average_openness %></td>
  </tr>
  <tr>
    <td><%= t('conscientiousness') %></td>
    <td><%= @average_conscientiousness %></td>
  </tr>
  <tr>
    <td><%= t('extraversion') %></td>
    <td><%= @average_extraversion %></td>
  </tr>
  <tr>
    <td><%= t('agreeableness') %></td>
    <td><%= @average_agreeableness %></td>
  </tr>
  <tr>
    <td><%= t('emotional_range') %></td>
    <td><%= @average_emotional_range %></td>
  </tr>
</table>
<p><%= t('score_scale') %></p>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
