<div class="container-fluid bg-1 text-center">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><%= link_to "fathom", root_path %></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><%= link_to "TRENDS", trends_path %></li>
          <li><%= link_to "ABOUT", about_path %></li>
          <li><a href="#">CONTACT</a></li>
        </ul>
      </div>
    </div>
  </nav>
<br>
<h3>Trends</h3>
<br>
<%= form_for :state_results, url: {action: "show"}, html: {method: "get"} do |f| %>
  <%= f.select :location, options_for_select(@states), {}, { id: 'state_select' } %>
  <%= f.submit "Go!" %>
<% end %>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
